@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    word-wrap: break-word;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input,
select,
textarea {
    outline: 0;
    background: transparent;
    resize: none;
}

li,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

a {
    text-decoration: none;
}

b,
strong {
    font-weight: 700;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-touch-callout: none;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    background: #fff;
}